<div class="alert alert-danger" *ngIf="mode==0">
<strong>you are not authorized to add new task</strong>
</div>
<div class="row col-md-6">
<div class="panel panel-default">
<div class="panel-heading">New Group</div>
<div class="panel-body">
<form #f="ngForm" (ngSubmit)="onSaveGroup(f.value)">
<div class="form-group">
<label class="control-label">Group name</label>
<input class="form-control" type="text" name="privileged" ngModel="" required>
</div>
<button class="btn btn-danger" type="submit" [disabled]="!f.valid">Save</button>
</form>
</div>
</div>
</div>
